.container {
  width: 100%;
}

ul {
  width: 100%;
}

li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  font-size: 1.2rem;
  font-weight: 500;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
}

.editButton,
.deleteButton,
.doneButton {
  font-size: 1.5rem;
  border: none;
  padding: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.editButton {
  background-color: transparent;
  color: white;
}

.doneButton {
  background-color: transparent;
  color: white;
}

.deleteButton {
  background-color: transparent;
  color: white;
}
.editButton:hover {
  color: blue;
}
.doneButton:hover {
  color: green;
}
.deleteButton:hover {
  color: red;
}

.finished {
  opacity: 0.5;
  text-decoration: line-through;
  background-color: black;
}
